.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
  border-radius: 999px;
  overflow: hidden;
}

.components {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
  justify-content: center;
}
